/* ============================= ROOT FONT SIZE ============================= */

html {
  font-size: 62.5%; // 1rem = 10px
}

body {
  margin: 0;
  font-family: "Nunito", sans-serif;
  font-size: 1.6rem;
  line-height: 1.6;
  background-color: var(--color-bg);
  color: var(--color-text);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* =============================== TYPOGRAPHY =============================== */

h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-family: "Work Sans", sans-serif;
}

h1 {
  font-size: 3.2rem;
}
h2 {
  font-size: 2.8rem;
}
h3 {
  font-size: 2.4rem;
}
h4 {
  font-size: 2rem;
}
h5 {
  font-size: 1.8rem;
}
h6 {
  font-size: 1.6rem;
}

a {
  color: var(--color-primary);
  text-decoration: none;
}

a:focus,
a:hover {
  text-decoration: underline;
}

/* ============================= ACCESSIBILITY ============================= */

:focus-visible {
  outline: 0.3rem solid var(--color-focus);
  outline-offset: 0.2rem;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }
}
